@import 'variables';
@import 'mixins';

/* HEADER */

#main-header {
    height: 100vh;
    
    #header-photo {
        height: 100vh;

        #title {
            @include centering;
            width: 480px;
            height: 290px;
            
            .white-text {
                color: $white-font-color;
                font-weight: 300;
            }
        }
        /* MENU */
        .navbar {
            background-color: transparent;
            padding-top: 5px;
            padding-bottom: 5px;
            border: none;
            
            li {
                right: 30px;
                margin-left: 25px;
            }
           
            ul {
                text-align: right;
            }
            
            a {
                color: $white-font-color;
                font-weight: 400;
                transition-duration: .5s;
                
                &:hover {
                    color: $green-font-color;
                    transition-duration: .5s;
                }
            }
            
            .icon-bar {
                background-color: $green-font-color;
            }
            
            .navbar-toggle {
                background-color: transparent;
                right: 30px;
                
                &:hover {
                    background-color: $green-font-color;
                }
                
                &:hover .icon-bar {
                    background-color: $white-font-color;
                }
            }
        }
        
        .menu-class {
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            z-index: 10;
        }
    }
    
    .parallax {
        background-image: url("../img/header-background.jpg");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
