@import 'variables';
@import 'mixins';

#main-header {
    position: relative;
    
    .parallax {
        background-image: url("../img/header-background.jpg");
        height: 100vh;
        background-attachment: fixed;
        @include background-settings(center, cover);
        
        nav {
            background-color: transparent;
            border: none;
            padding-right: 30px;
            
            .navbar-header {         
                
                .navbar-toggle {
                    background-color: transparent;
                    &:hover {
                        background-color: $font-color-green;
                    }
                    
                    .icon-bar {
                        background-color: $white-color;
                        }                    
                    }            
            }
            .navbar-collapse {
                text-align: right;
                border: none;                
                } 
            
            #myNavbar {
                
                ul {
                    
                    li>a {
                        color: $white-color;
                        margin-top: 7px;
                        margin-left: 30px;
                        &:hover {
                            color: $font-color-green;
                        }
                    }
                }
            }
        }
        
        .menu-class {
            background-color: rgba(0, 0, 0, .6);
            padding-bottom: 10px;
        }
        
        #title {
            @include center_tr;
            width: 750px;
        }
    }
}
