@import 'variables';

@mixin background-settings($position, $size) {
    background-position: $position $position;
    background-size: $size;
}

@mixin center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin center_tr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
