$base-font: "Lato", sans-serif;
$header-font: "Roboto", sans-serif;
$base-font-size: 16px;
$font-color-green: #1ac056;
$font-color-black: #291f1a;

$white-color: aliceblue;

$section-padding-side: 40px;
$section-padding-top: 30px;
$section-padding-bottom: 80px;