$base-font: 'Lato', sans-serif;
$header-font: 'Roboto', sans-serif;
$base-font-color: #777;
$white-font-color: aliceblue;
$green-font-color: #1ac056;

$section-padding-top: 50px;
$section-padding-bottom: 70px;

